.Chat-main
  .Chat-main__group-info
    .Group-info
      .Group-info__name
        = @group.name
      .Group-info__member-list
        Member :
        - @group.users.each do |user|
          = user.name
    = link_to edit_group_path(@group),class: "Group-info__editBtn" do
      Edit
  .Chat-main__message-list
    = render @messages
  .Chat-main__message-form
    = form_with model: [@group, @message], html: {class: "New-message"}, local: true do |f|
      .Input-box
        = f.text_field :content, class: 'Input-box__context', placeholder: 'type a message'
        = f.label :image, class: 'Input-box__image' do
          = icon('far', 'image', class: 'Input-box__image--icon')
          = f.file_field :image, class: 'Input-box__image--file'
      = f.submit 'Send', class: 'New-message__send-btn'
