.Chat-main
  .Chat-main__group-info
    .Group-info
      .Group-info__name
        test
      .Group-info__member-list
        Member: masa
    = link_to '#',class: "Group-info__editBtn" do
      Edit
  .Chat-main__message-list
    .Message-box
      .Message-info
        .Message-info__user-name
          masa
        .Message-info__date-time
          2020/6/23
      .Message
        おはよう！
    .Message-box
      .Message-info
        .Message-info__user-name
          masa
        .Message-info__date-time
          2020/6/23
      .Message
        おはよう！
  .Chat-main__message-form
    = form_with model: [@group, @message], html: {class: "New-message"}, local: true do |f|
      .Input-box
        = f.text_field :content, class: 'Input-box__context', placeholder: 'type a message'
        = f.label :image, class: 'Input-box__image' do
          = icon('far', 'image', class: 'Input-box__image--icon')
          = f.file_field :image, class: 'Input-box__image--file'
      = f.submit 'Send', class: 'New-message__send-btn'
