.Chat-main
  .Chat-main__group-info
    .Group-info
      .Group-info__name
        test
      .Group-info__member-list
        Member: masa
    = link_to '#',class: "Group-info__editBtn" do
      Edit
  .Chat-main__message-list
    .Message-box
      .Message-info
        .Message-info__user-name
          = message.user.name
        .Message-info__date-time
          = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
      .Message
        - if message.content.present?
          %p.Message__content
            = message.content
        = image_tag message.image.url, class: 'Message__image' if message.image.present?
  .Chat-main__message-form
    = form_with model: [@group, @message], html: {class: "New-message"}, local: true do |f|
      .Input-box
        = f.text_field :content, class: 'Input-box__context', placeholder: 'type a message'
        = f.label :image, class: 'Input-box__image' do
          = icon('far', 'image', class: 'Input-box__image--icon')
          = f.file_field :image, class: 'Input-box__image--file'
      = f.submit 'Send', class: 'New-message__send-btn'
